{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@reducers": "./src/newBugs/App/redux/Reducers",
          "@core": "./src/newBugs",
          "@models": "./src/models",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}