{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@reducer": "./src/newBugs/App/logic/createReducers",
          "@core": "./src/newBugs"
        }
      }
    ]
  ]
}