@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
    }
    .navbar-nav > li {
        width: 19%;
    }
        .navbar-nav button {
            margin: 8px auto;
            display: block;
        }
}

.bug-input,
.bug-button,
.bug-select{
    border-radius: 6px;
    margin-bottom: 1em;
    padding: 0.5em 1em;
}

.bug-input,
.bug-select {
    border: 2px solid #E6E6E6;
}

.bug-input:focus,
.bug-select:focus  {
    border: 2px solid #ADD7CB;
    outline: none;
}

.bug-button {
    background-color: #38BE99;
    border: none;
    color: #DFFFFE;
}

.bug-table {
    display: table;
    font-size: 12pt;
    margin: auto;
}

.bug-header {
    display: table-header-group;
}
/* tr */
.bug-header > div{
    display: table-row;
}
/* th */
.bug-header > div > div{
    display: table-cell;
    font-weight: bold;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 25%;
}
.bug-header > div > div:not(:first-of-type) {
    /*border-left: 1px solid #dddddd;*/
}

.bug-body {
    display: table-row-group;
}

.bug-column {
    background-color: #efefef;
    display: table-cell;
    padding: 0 0.5em;
}
.bug-column:not(:first-of-type){
    border-left: 5px solid white;
}

.bug-column > div{
    margin: 2em 0;
}

.bug-cell {
    background-color: white;
    border: 1px solid #808080;
    cursor: pointer;
    display: table-cell;
    border: 2px solid #E6E6E6;
    border-radius: 6px;
    padding: 0.5em 1em;
}
    .bug-cell:hover{
        background-color: #e7f4ff;
    }

    .bug-cell label {
        cursor: pointer;
    }

.bug-cell > div:nth-of-type(1){
    font-weight: bold;
}

div.login-page {
    font-size: 1.2em;
    background-color: #272733;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.login-page > div {
    background-color: #FCFCFC;
    border-radius: 6px;
    margin: auto;
    max-width: 500px;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
}

div.login-page input,
div.login-page button{
    padding: 1em;
    width: 80%;
}

div.login-page button{
    margin-bottom: 3em;
}

div.login-page h3 {
    color: #27262D;
    display: block;
    font-size: 2em;
    padding: 1em 0 1.5em 0;
    text-transform: uppercase;
}