table.users {
    margin-top: 2em;
}

table.users tbody tr:hover {
    background-color: #6ac0ff;
    cursor: pointer;
}

.user-info-container h4 {
    color: #27262D;
    display: block;
    font-size: 2em;
    padding: 1em 0 0.5em 0;
    text-transform: uppercase;
}

.user-info-container > div{
    display: table;
}

.user-info-container > div > div {
    display: table-row;
}

.user-info-container label,
.user-info-container input{
    display: table-cell;
}

.user-info-container label{
    min-width: 10em;
}